body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

a:visited {
    color: #575757;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: crimson;
    color: white;
    padding: 10px;
}

main {
    min-height: 100vh;
}

main.dark {
    background-color: black;
    color: white;
}

#pokedex {
    padding: 5px;
}

#div-form-pesquisa {
    padding: 5px;
    margin: auto;
    width: 70vw;
}

#form-pesquisa {
    border-radius: 10px;
    background-color: #8b0000;
    padding: 10px;
}

#form-pesquisa div {
    max-width: 250px;
}

#form-pesquisa label {
    color: white;
}

#form-pesquisa input {
    margin: 5px;
    text-align: center;
}

.github {
    display: flex;
    justify-content: center;
}

.button {
    height: 30px;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 0;
}

.button.dark {
    color: white;
    background-color: black;
}

.list-style {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.pokemon {
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    width: 145px;
    height: 250px;
    margin: 5px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.pokemon.dark {
    background-color: rgb(56, 56, 56);
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
}

.pokemon.dark:hover {
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2);
}

.id {
    margin: 5px 0 5px 0;
}

.type {
    padding: 3px;
    background-color: darkgray;
    margin: 2px;
    border-radius: 5px;
    color: white;
}

.type.bug {
    background-color: #3ea151;
}
.type.dark {
    background-color: #5e5d7d;
}
.type.dragon {
    background-color: #7fffd4;
    color: black;
}
.type.electric {
    background-color: #f6fc82;
    color: black;
}
.type.fairy {
    background-color: #8b0000
}
.type.fighting {
    background-color: #f76335;
}
.type.fire {
    background-color: #ff0019;
}
.type.flying {
    background-color: #9db9cf;
}
.type.ghost {
    background-color: #946b93;
}
.type.grass {
    background-color: #28d852;
}
.type.ground {
    background-color: #6a4c28;
}
.type.ice {
    background-color: #dbf4f8;
    color: black;
}
.type.normal {
    background-color: #d89bab;
}
.type.poison {
    background-color: #9e6be1;
}
.type.psychic {
    background-color: #f01e8c;
}
.type.rock {
    background-color: #8c3c19;
}
.type.stell {
    background-color: #3cc494;
}
.type.water {
    background-color: #82a7ff;
}

@media only screen and (min-width: 603px) {
    #form-pesquisa div {
        max-width: 70vw;
    }
}