body {
    margin: 0;
    padding: 0;
}

#pokedex {
    margin: 0;
    text-align: center;
}

#pokedex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#load {
    width: 170px;
    height: 30px;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 0;
}

.pokemon {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 145px;
    height: 250px;
    margin: 5px;
    margin-bottom: 18px;
}
.pokemon:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.id {
    margin: 5px 0 5px 0;
}

.types {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.type {
    padding: 3px;
    background-color: darkgray;
    margin: 2px;
    border-radius: 5px;
    color: white;
}

.type.bug {
    background-color: #3ea151;
}
.type.dark {
    background-color: #5e5d7d;
}
.type.dragon {
    background-color: #7fffd4;
    color: black;
}
.type.electric {
    background-color: #f6fc82;
    color: black;
}
.type.fairy {
    background-color: #8b0000
}
.type.fighting {
    background-color: #f76335;
}
.type.fire {
    background-color: #ff0019;
}
.type.flying {
    background-color: #9db9cf;
}
.type.ghost {
    background-color: #946b93;
}
.type.grass {
    background-color: #28d852;
}
.type.ground {
    background-color: #6a4c28;
}
.type.ice {
    background-color: #dbf4f8;
    color: black;
}
.type.normal {
    background-color: #d89bab;
}
.type.poison {
    background-color: #9e6be1;
}
.type.psychic {
    background-color: #f01e8c;
}
.type.rock {
    background-color: #8c3c19;
}
.type.stell {
    background-color: #3cc494;
}
.type.water {
    background-color: #82a7ff;
}